---
---

@import "minimal-mistakes";

/* Hide footer */
.page__footer-follow {
  display: none;
}

.page__footer-copyright {
  display: none;
}

/* Profile photo */
.author__avatar img {
  max-width: 160px !important;
  width: 160px !important;
  border-radius: 50%;
}

/* Light background */
html,
body,
.initial-content,
.page,
.page__inner-wrap {
  background-color: #f5f7fa !important;
}

/* Text sizing */
.page__content li {
  font-size: 0.9rem !important;
}

.page__content a {
  font-size: 0.9rem !important;
}
