---
---

@import "minimal-mistakes";

/* Hide footer */
.page__footer-follow {
  display: none;
}

.page__footer-copyright {
  display: none;
}

/* Profile photo */
.author__avatar img {
    width: 240px !important;
    max-width: 240px !important;
}

.page {
    max-width: 1400px !important;
}

.page__content {
    max-width: 1000px !important;
}

/* Light background */
html,
body,
.initial-content,
.page,
.page__inner-wrap {
  background-color: #f5f7fa !important;
}

/* Text sizing */
.page__content li {
  font-size: 0.9rem !important;
}

.page__content a {
  font-size: 0.9rem !important;
}
