---
---

@import "minimal-mistakes";

.page__footer-follow {
    display: none;
}

.page__footer-copyright {
    display: none;
}

.author__avatar img {
    max-width: 220px !important;
    width: 220px !important;
    border-radius: 50%;
}

body {
    background-color: #f5f7fa;
}

.page {
    max-width: 1500px;
}

.page__content ul li {
    font-size: 0.9rem;
}

.page__content a {
    font-size: 0.9rem;
}


/* Make the portfolio content area wider */
.page {
  width: 100% !important;
  max-width: 1200px !important;
}

.page__inner-wrap {
  max-width: 900px !important;
}

.page__content {
  max-width: 900px !important;
}
